<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<style>

    .uno {
        background-color: rgba(0, 0, 0, 0.4);
        height: 200px;
        margin-top: 10%;
    }
    .dos {
        margin-left: 40%;
        padding-top: 20px;
    }
    .tres{
        padding-left: 20px;
        color: white;
    }
    #cuatro{
        padding-left: 100px;
    }

</style>

</head>
<body>

<div class="uno">
    <div class="dos">
        <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
            <!-- Title -->
            <h1 class="text-white push-5">¡Bienvenido, {{request.user.username}}!</h1>
            <!-- END Title -->
            <div class="tres">¡Esto es una aplicación de Django!
            </div>
            <!-- Link Home -->
            <a id="cuatro" class="btn btn-default" href="/logout" role="button"><button type="button" href="/logout" class="btn btn-secondary">Logout</button></a>


    </div>
</div>



</body>
</html>
